.cta-section {
  background: black;
  padding:20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  margin: 40px auto;
  max-width: 1400px;
  box-shadow: 0 0 20px #75b675, 
              inset 0 0 20px #75b675;
  transform: perspective(1200px) translateZ(20px);
  transition: all 0.3s ease-in-out;
}
.cta-section::before {
  content: "";
  position: absolute;
  top: -50px;
  left: -50px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 0;
  animation: float 2s ease-in-out infinite;
}

.cta-section h2 {
  font-size: 3rem;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  z-index: 1;
  position: relative;
  text-shadow: 9px 8px 10px rgba(0, 0, 0, 0.274);
}

.cta-section p {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.555);
  margin-bottom: 20px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  position: relative;
  line-height: 1.6;
}

.cta-section .cta-button {
  padding: 15px 40px;
  font-size: 1.2rem;
  background-color:  rgba(255, 255, 255, 0.856);
  color: #75b675;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.4s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.cta-section .cta-button:hover {
  background-color: #f7f7f7;
  color: #75b675;
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .cta-section {
    padding: 60px 20px;
  }

  .cta-section h2 {
    font-size: 2.2rem;
  }

  .cta-section p {
    font-size: 1.1rem;
    padding: 0 10px;
  }

  .cta-section .cta-button {
    padding: 12px 30px;
    font-size: 1rem;
  }
}
